{% extends "layout.html" %}

{% block title %}Quoridor{% endblock %}


{% block content %}
    <h1 class="big_header">QUORIDOR</h1>
    <h5 class="header_caption">Play online with other real people</h5>
    <br class="break_after_header">
    <p class="game_description">
        You can click the quickplay button, and join a game.
        If you are lucky and I had enough time to add the create game and private game options, you can do that as well.
    </p>
    <form action="#" method="POST">
        <input type="submit" value="QUICK PLAY" id="quick_play">
    </form>
{% endblock %}

{% block script %}
{% endblock %} 

